@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", "Inter Fallback", system-ui, arial;
}

@layer base {
  h1 { @apply text-3xl font-bold; }
  h2 { @apply text-2xl font-semibold; }
  h3 { @apply text-xl font-semibold; }
  /* 필요에 따라 추가 */
}